@media only screen and (max-width: 480px) {
    /* * {
        overflow-x: hidden;
    } */

    /* +++++++++++++ HEADER +++++++++++++ */


    .header-home {
        height: 100vh;
        background-image: url(../img/clip.png);
        background-size: cover;
    }

    .header-home .row {
        margin-right: 0;
        margin-left: 0;
    }

    .logo-icon-header img {
        width: 53px;
        height: 64px;
    }

    .judul-header-home h1 {
        font-size: 25px;
    }

    .judul-header-home p {
        font-size: 16px;
    }

    .bunder-find {
        position: relative;
        bottom: 20px;
        top: 0;
        left: 0;
        right: 0;
        display: block;
    }



    /* +++++++++++++ END HEADER +++++++++++++ */

    /* +++++++++++++ START BAWAH HEADER ++++++++++++ */

    .menu-bawah-header {
        display: none;
    }

    .judul-bawah-header-raihan {
        color: #959595;
        margin-top: 30px;
        text-align: center;
    }

    .judul-welcome-raihan {
        text-align: center;
        font-size: 30px;
        color: #42BEF2;
        margin-bottom: 30px;
    }

    .wellcome-section {
        background-image: none;
        background-color: #F5F7F5;
        margin-bottom: 30px;
    }

    .container-wellcome-riyaldi {
        padding-right: 15px !important;
    }

    .container-desc-riyaldi {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    /* +++++++++++++ END BAWAH HEADER +++++++++++++++++ */


    /* +++++++++++++ START SLIDER EXPROLE +++++++++++++++ */

    .kartu-gambar {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .deskripsi-explore a {
        font-size: 14px;
    }

    .deskripsi-explore h3 {
        font-size: 23px;
        font-weight: bold;
    }

    .explore-section .container {
        display: none;
    }

    .parallax-mobile-only-riyaldi {
        height: 300px !important;
        display: block;
    }

    .ukuran-parallax {
        height: 286px !important;
        width: 286px !important;
        margin: 0 auto;
    }

    .rounded-riyaldi {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    /* ++++++++++++ END EXPLORE ++++++++++++++++++++ */

    /* +++++++++++++ VIDEO SECTION ++++++++++++++++ */
    .video-section-size {
        width: calc(100% - 30px);
        height: auto;
        margin: 0 auto;
    }

    /* +++++++++++++ END VIDEO SECTION ++++++++++++++ */

    /* +++++++++++++ TOUR SECTION ++++++++++++++++ */

    .tour-aktif h1 {
        color: #333333;
        font-size: 25px;
        margin-bottom: 30px;
    }

    #tempat-raihan-satu {
        display: none;
    }

    .card-raihan-satu {
        margin: 0 3%;
        border-radius: 10px;
        height: 370px;
        padding-left: 10%;
        font-size: 18px;
        padding-top: 65%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .card-raihan-satu h1 {
        color: #fff;
        text-align: left !important;
        margin-bottom: 0;
    }

    .from-text-raihan {
        text-align: left;
    }

    #mobile-hilang-raihan {
        display: none;
    }

    #rate-raihan {
        text-align: left !important;
        margin-bottom: 0;
    }

    #hilang-kepo-raihan {
        display: none;
    }

    #card-raihan-mobile-satu {
        height: 176px !important;
        padding-top: 20%;
        margin: 3%;
        font-size: 18px;
    }

    #raihan-card-mobile-satu {
        height: 180px;
        padding-top: 70%;
        margin: 0;
    }

    #kepo-mumet,
    .kepo-riyaldi {
        padding: 0 6px 0 12px !important;
    }

    .kepo-riyaldi-kanan {
        padding: 0 12px 0 6px !important;
    }

    #raihan-card-mobile-satu h1 {
        font-size: 18px;
    }

    #kepo-mumet-raihan {
        display: block;
    }


    /* ++++++++++++++ END TOUR SECTION +++++++++++++++ */

    /* ++++++++++++++ WHY SECTION +++++++++++++++ */

    .why-card {
        padding: 0 10%;
    }

    /* ++++++++++++++ END WHY SECTION +++++++++++++++ */

    /* ++++++++++++++ COCONUT SECTION +++++++++++++++ */
    .coconut-section {
        max-width: 100% !important;
        overflow: hidden;
        text-align: left;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .isi-coconut {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .isi-coconut-2 {
        width: 100%;
        margin: 0 !important;
    }

    .text-coconut {
        margin-left: 10%;
    }

    .margin-mobile {
        margin: 0 12px;
    }

    /* ++++++++++++++ END COCONUT SECTION +++++++++++++++ */



}